/*将整个页面的背景设为黑色*/
html, body{
    background-color: black;
    color:white;
    margin:0;
    padding:0;
    height:100%;
}
#container{
    height:100%;
    width:100%;
    display: -webkit-inline-flex;/*将container设为flex,则无需设置float、position等属性*/
    display:inline-flex;
}
.left{
    height:100%;
    /*width:25%;*/
    /*padding:1%;*/
    /*height: 100%;*/
    /*默认显示为20%的宽度*/
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 0.5s;
    overflow-x: hidden;
    /*padding-top: 20px;*/
}
.city{
    padding:0 25%;
    letter-spacing:5px;
}
.right{
    /*width:75%;*/
    width:100%;
    height:100%;
    padding:1%

}
#go{
    border-radius:5px;
    background-color:white;
    width:20%;
}
#locationLs li{
    list-style:none;
    color:gray;
    line-height:2em;
}

#wikiSummary{
    font-size:0.8em;
    height:400px;
    overflow: scroll;

}
.menu{
    height:6%;
    /*width:100%;*/
    padding-top:0;
    right:1%;
    position:absolute;

}
.nave,.arrowLeft,.arrowRight{
    cursor:pointer;
    font-size:0.5em;


}
.arrowRight{
    padding-right:1em;
}
.mapStyle{
    height:94%;
    /*width:75%;*/
    width:100%;
    bottom:0;
    right: 0;
    position:absolute;

}
.leftuv{
    height:100%;
    width:75%;
    padding:1%;
}
.rightuv{
    width:25%;
    height:100%;
    padding:1%;
}
.mapuv{
    width:25%;
    height:90%;
    bottom:0;
    right: 0;
    position:absolute;
}
.close{
    position:absolute;
    top:5%;
    left: 80%;
}
/*
@media screen and (max-device-width: 450px){
    #leftSide{
        height:100%;
        width:75%;
        padding:1%;
    }
    #rightSide{
        width:25%;
        height:100%;
        padding:1%
    }
    #map{
        width:25%;
    }
}
*/
