/*将整个页面的背景设为黑色*/
html, body{
    background-color: black;
    color:white;
    margin:0;
    padding:0;
    height:100%;
}
#container{
    height:100%;
    width:100%;
    display: -webkit-inline-flex;/*将container设为flex,则无需设置float、position等属性*/
    display:inline-flex;
}
#leftSide{
    height:100%;
    width:25%;
    padding:1%;
}
.city{
    padding:0 25%;
    letter-spacing:5px;
}
#rightSide{
    width:75%;
    height:100%;
    padding:1%

}
#go{
    border-radius:5px;
    background-color:white;
    width:20%;
}
#locationLs li{
    list-style:none;
    color:gray;
    line-height:2em;
}

#wikiSummary{
    font-size:0.8em;
    height:400px;
    overflow: scroll;

}
.menu{
    height:10%;
    width:100%;
    padding-top:1%;
}
.nave{
    cursor:pointer;
    font-size:1.5em;

}
#map{
    height:90%;
    width:75%;
    bottom:0;
    right: 0;
    position:absolute;

}
/*
@media screen and (max-device-width: 450px){
    #leftSide{
        height:100%;
        width:75%;
        padding:1%;
    }
    #rightSide{
        width:25%;
        height:100%;
        padding:1%
    }
    #map{
        width:25%;
    }
}
*/
